# Database Configuration
# PostgreSQL connection string for the database
DATABASE_URL="postgresql://username:password@host:port/database?connect_timeout=15"

# Next.js Configuration
# Set to production when deploying
NODE_ENV="development"

# Application URL (optional, for production deployment)
# NEXT_PUBLIC_APP_URL="https://your-app-domain.vercel.app"
ADMIN_SECRET_KEY=c63b49ac9f6b8fdd3f1a02bb17cde4cc4c8f55f5e28d66f8e3df3d2c1f3d6ab8
